li {
	margin: 0 5px 10px 0;
}
body {
	height: 100%;
	background-image: url("palmtreesbackground.jpg");
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	margin: 0;
}

html {
	height: 100%;
}
.containers {
	display: inline;
}
a:visited {
	color: blue;
}
a#user-data-close {
	float: right;
	padding-right: .5%;
}
a#user-data-clear {
	float: right;
}
#show-data {
	width: 64%;
	height: auto;
	margin-left: 8px;
	float: left;
}

.show-data-box {
	background-color: white;
	border-width: 2px;
	border-style: solid;
	border-color: #808080;
	margin-bottom: 2%;
	border-radius: 10px;
}

.show-data-box div {
	padding: 10px;
}

.show-data-box ul {
	list-style-type: none;
}

#user-data {
	margin-right: 8px;
	width: 34%;
	height: 100%;
	background-color: white;
	border-width: 2px;
	border-style: solid;
	border-color: #808080;
	border-radius: 10px;
}
#user-data-expand {
	float: right;
	padding-right: .5%;
}
#user-data-collapse {
	float: right;
	padding-right: .5%;
}

#user-data div {
	padding: 5% 30% 0 30%;
}

.containers {
}

#mapContainer {
	height: 425px;
	width: 100%;
	background-color: white;
}

#title {
	color: white;	
	font-size: 22px;
}


#wrapper { 
	margin-top: 5%;
}

select {
	border-radius: 7px;
	font-size: 14px;
}

#typeFilter {
	display: inline-block;
}

#dateFilter {
	
}

.buttons {
	margin-bottom: 20px;
	float:left;
	margin: 8px;
	margin-bottom: 20px;
}
