<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>MY APP</title>
	</head>
	<body>
		<form action="/saveLocations" method="POST">
			<button type="submit">
				Save locations
			</button>
		</form>
		<br><br>
		<form action="/saveEvents" method="POST">
			<button type="submit">
				Save events
			</button>
		</form>
	</body>
</html>